<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .validationError {
            color: red;
            font-weight: bold;
        }
    </style>
    <title>Creating Transaction</title>
</head>
<body>
    <h2>Create Transaction</h2>
    <form method="post" th:object="${transaction}">
        <label for="accountIdFrom">Account ID From:</label>
        <input type="number" th:field="*{accountIdFrom}" id="accountIdFrom">
        <span class="validationError"
          th:if="${#fields.hasErrors('accountIdFrom')}"
          th:errors="*{accountIdFrom}">AccountIdFrom Error
        </span>

        <br/>

        <label for="accountIdTo">Account ID To:</label>
        <input type="number" th:field="*{accountIdTo}" id="accountIdTo">
        <span class="validationError"
          th:if="${#fields.hasErrors('accountIdTo')}"
          th:errors="*{accountIdTo}">AccountIdTo Error
        </span>

        <br/>

        <label for="currency">Currency:</label>
        <select th:field="*{currency}" id="currency">
            <option value="">Choose currency:</option>
            <option th:each="currency : ${currencies}" th:value="${currency}" th:text="${currency}"></option>
        </select>
        <span class="validationError"
          th:if="${#fields.hasErrors('currency')}"
          th:errors="*{currency}">Currency Error
        </span>

        <br/>

        <label for="category">Category:</label>
        <select th:field="*{category}" id="category">
            <option value="">Choose category:</option>
            <option th:each="category : ${categories}" th:value="${category}" th:text="${category}"></option>
        </select>
        <span class="validationError"
          th:if="${#fields.hasErrors('category')}"
          th:errors="*{category}">Category Error
        </span>

        <br/>

        <label for="amount">Amount:</label>
        <input type="number" step="0.01" th:field="*{amount}" id="amount">
        <span class="validationError"
          th:if="${#fields.hasErrors('amount')}"
          th:errors="*{amount}">Amount Error
        </span>

        <br/>

        <label for="transactionTime">Date and Time:</label>
        <input type="datetime-local" th:field="*{transactionTime}" id="transactionTime">
        <span class="validationError"
          th:if="${#fields.hasErrors('transactionTime')}"
          th:errors="*{transactionTime}">Date and Time Error
        </span>

        <button type="submit">Submit transaction</button>
    </form>
</body>
</html>
